body {
    font-family: Arial, sans-serif;
    background-color: #d8d5d5;
}

header {
    background: linear-gradient(to right, #705454, #c54e4e);
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    color: #f8f3f3;
    font-size: 2em;
    position: relative;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
 nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #ddc3c3;
    text-decoration: none;
    font-weight: bold;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

section {
    margin-bottom: 40px;
}
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.gallery img {
    width: 100%;
    height: auto;
}
 footer {
    background-color: #f0f0f0;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #333;
}
#titulo img {
    position: absolute;
    top: -10px;
    right: -10px;
}